version: '3.9'

services:
  db:
    extends:
      file: docker-compose.base.yml
      service: db
  redis:
    extends:
      file: docker-compose.base.yml
      service: redis
  api:
    extends:
      file: docker-compose.base.yml
      service: api
    env_file: [ ../envs/.test.env ]
    command: bash -c "
      coverage run manage.py test --noinput
      && coverage report
      && coverage xml -o /api/coverages/coverage.xml
      "
    volumes: [ ../coverages:/api/coverages ]
    depends_on: [ db, redis ]
    restart: 'no'

networks:
  db_network:
  redis_network:
