version: '3.9'

services:
  db:
    extends:
      file: docker-compose.base.yml
      service: db
  redis:
    extends:
      file: docker-compose.base.yml
      service: redis
  api:
    extends:
      file: docker-compose.base.yml
      service: api
    env_file:
      - ../envs/.test.env
    ports:
      - 8000:8000
    command: bash -c "
      coverage run manage.py test
      && coverage report
      && coverage xml -o /api/coverages/coverage.xml
      "
    volumes:
      - ../coverages:/api/coverages
    depends_on:
      - db
      - redis
    restart: "no"

volumes:
  db_volume:
  static_volume:
  media_volume:
  profile_volume:

networks:
  db_network:
  redis_network:
