version: '3.9'

services:
  db:
    extends:
      file: docker-compose.base.yml
      service: db
    ports: [ 5432:5432 ]
    volumes:
      - db_volume:/var/lib/postgresql/data
  redis:
    extends:
      file: docker-compose.base.yml
      service: redis
  api:
    extends:
      file: docker-compose.base.yml
      service: api
    environment:
      - ENV_FILE=envs/.dev.env
    ports: [ 8000:8000 ]
    volumes:
      - profile_volume:/api/profile
      - media_volume:/media
    command: bash -c "
      python manage.py migrate
      && python manage.py collectstatic --noinput
      && daphne -b 0.0.0.0 -p 8000 api.asgi:application
      "
    depends_on: [ db, redis ]
  celery:
    extends:
      file: docker-compose.base.yml
      service: celery
    depends_on: [ api ]
  celery_beat:
    extends:
      file: docker-compose.base.yml
      service: celery_beat
    depends_on: [ celery ]

volumes:
  db_volume:
  profile_volume:
  media_volume:

networks:
  db_network:
  redis_network:
